@using Dominio
@using WCF_AltaSocioActividad;
@{
    ViewBag.Title = "Actividades disponibles para inscribir socio";
}

<h2>ListarActividades</h2>

@if (ViewBag.ListaActividades != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Hora</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DtoActividad act in ViewBag.ListaActividades)
            {
            <tr>
                <td>@act.Id</td>
                <td>@act.Nombre</td>
                <td>@act.Horarios</td>
                <td>@Html.ActionLink("Inscribir", "/DetalleSocio", new { idActividad = act.Id })</td>
            </tr>
            }
        </tbody>
    </table>
}